// 全局class
@font-face {
  font-display: block;
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/BaiJamjuree-Medium.ttf') format('truetype');
}

@font-face {
  font-display: block;
  font-family: 'Bai Jamjuree SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/BaiJamjuree-SemiBold.ttf') format('truetype');
}

// 单行文本溢出

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 清浮动

.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    clear: both;
    content: ' ';
    display: table;
  }

  &::after {
    display: block;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
}
